.remote {
    background-color: #D8D8D6;
}

.remote__wrapper {
    border: 1px solid;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.remote__text {
    text-align: center;
    background-color: burlywood;
    font-size: 24px;
    font-weight: 600;
}

.remote__link {
    background-color: dodgerblue;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}