.main {
    height: 100vh;
    background-color: #FFDEE0;
    padding: 50px 0;
}

.main__wrapper {
    border: 1px solid;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.main__text {
    background-color: #D8D8D6;
}