@import '../common/variables';

.nav {
  overflow: hidden;
}

.burger {
  display: none;
}

.menu {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  list-style: none;


  li + li {
    margin-left: 55px;
  }

  &__link {
    color: $light_color;
    font-size: 16px;
  }

  li a {
    position: relative;
  }

  li:hover a:before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: $accent_color;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.burger__item {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;

  background: $light_color;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}


.click .burger__item1{
  transform: rotate(-45deg) translate(-18px, 6px);
  background-color: $accent_color;
}
.click .burger__item2 {opacity: 0;}

.click .burger__item3 {
  transform: rotate(45deg) translate(-17px, -8px);
  background-color: $accent_color;
}

@media screen and (max-width: 600px) {
  .menu {
    margin-top: 10px;
    margin-right: 15px;
    font-size:18px;
    flex-direction: column;
    transform: translate(200px);
    gap: 15px;
    li + li {
      margin-left: 0;
    }
    z-index: 10;
    transition: all .3s;
  }
  .burger {
    display: block;
  }

  .right {
    transform: translate(0);
  }
}