@import "variables";
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.sectionTitle {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    color:$light_color;
    position: relative;
}

.sectionTitle:after {
    display: inline-block;
    content: "";
    border-top: .3rem solid $light_color;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-5px);
}

section {
    padding: 30px 0;
}