.contacts__wrapper {
    padding: 10px 10px;
    border: 1px solid dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contacts__form {
    width: 90%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 5px 10px;
    gap: 10px
}